@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(rgb(214, 219, 220), transparent), linear-gradient(rgb(255, 255, 255), transparent)
  /* background: linear-gradient(rgb(190, 164, 91), transparent),
    linear-gradient(90deg, rgb(227, 235, 135), transparent),
    linear-gradient(-90deg, coral, transparent);
  background-blend-mode: screen; */
}
