/* Calendar.module.css */
.react-datepicker {
  font-size: 12px; /* Adjust the font size */
  width: 200px; /* Adjust the overall width */
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__current-month {
  width: 1.5rem; /* Adjust the width of day cells */
  height: 1.5rem; /* Adjust the height of day cells */
  line-height: 1.5rem; /* Adjust the line height to center text */
  margin: 0.2rem; /* Adjust the margin between day cells */
}

.react-datepicker__header {
  padding-top: 0.5rem; /* Reduce padding in the header */
  padding-bottom: 0.5rem; /* Reduce padding in the header */
}

.react-datepicker__navigation {
  top: 0.5rem; /* Adjust position of navigation buttons */
}

.react-datepicker__navigation-icon::before {
  border-width: 0.5rem 0.5rem 0 0.5rem; /* Adjust the size of navigation icons */
}

.highlight {
  background-color: red;
  color: white;
  border-radius: 50%;
}
